.button {
  color: #53687e;
  line-height: 1;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #53687e;
  padding: 7px 12px;
  cursor: pointer;
  margin-right: 32px;
  &:focus {
    outline: none
  }
}


@media screen and (max-width: 991px) {
  .button {
    margin-right: 0;
  }
}

@media screen and (max-width: 769px) {
  .button {
    margin-top: 15px;
  }
}