.button {
  color: #53687e;
  line-height: 1;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
  background-color: #f7f8fa;
  border: 1px solid #d8dde3;
  padding: 7px 20px;
  cursor: pointer;
  margin-right: 12px;
  &:focus {
    outline: none
  }
}