.button {
  color: #53687e;
  line-height: 1;
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  padding: 7px 12px;
  cursor: pointer;
  &:focus {
    outline: none
  }
}